@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Popping', sans-serif;
}

body {
    
    background: #16384c;
    height: 100vh;
}

header {
    background: #24536f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

header a {
    text-decoration: none;
    padding: 0 20px;
    color: aqua;
    letter-spacing: 1px;
}

header a:hover {
    color: #cfd7d7;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

nav {
    display: flex;
    align-items: center;
}

a.carts {
    align-items: end;
    display: flex;
    font-size: 20px;
}

.ionicon-fill-none ionicon-stroke-width {
    font-size: 20px;
}

h1 {
    color: aqua;
    letter-spacing: 2px;
}

.h3-contact {
    color: aqua;
}

.content {
    width: 260px;
    color: #baf2f2;
}

.content h2 {
    padding: 10px 0;
}

.content p{
    margin-bottom: 30px;
}

.number {
    margin-left: 10px;
}

.content  .btn, select{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
    border: solid 1px transparent;
    cursor: pointer;
    margin-top: 20px;
    padding: 9px 30px;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: #24536f;
    color: aqua;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}


#container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    top: 20%;
}

#container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #f3e9f1;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, .5);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

#container .card:hover {
    height: 420px;
}

#container .card .imgbox {
    position: relative;
    width: 260px;
    height: 260px;
    bottom: 60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
   
}

.detail {
    border: solid 2px aqua;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 5px 202px rgba(0, 0, 0, .5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.detail img {
    width: 260px;
    height: 260px;
}

.description-detail {
    text-align: justify;
    line-height: 20px;
}

dt {
    width: 260px;
}



#container .card .imgbox img {
    width: 260px;
    height: 260px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

#container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

#container-principale {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94vh;
}

#container-principale .description {
    text-align: justify;
    width: 80%;
}

.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 200px;
}

.container-contact .btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
    border: solid 1px transparent;
    cursor: pointer;
    margin-top: 20px;
    padding: 9px 30px;
    border-radius: 3px;
    letter-spacing: 1px;
    background-color: #24536f;
    color: aqua;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}


.btn:hover {
    border: solid 1px aqua;
    background: transparent;
}

form {
	width: 500px;
	font-family: roboto;
	
}

.input-field {
	position: relative;
	margin-top: 50px;
}

.input-field input,
.input-field textarea {
	width: 100%;
	box-sizing: border-box;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	font-size: 16px;
    resize: none;
    color: #baf2f2;
}

.input-field label {
	position: absolute;
	top: 0;
	left: 0;
	color: aqua;
	pointer-events: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.input-field input:focus + label, 
.input-field textarea:focus + label,
.input-field input:valid + label, 
.input-field textarea:valid + label {
	top: -25px;
	padding: 2px 5px;
	background: #24536f;
	color: #baf2f2;
	font-size: 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
    min-height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
	background: #24536f;
	transition: transform .2s;
	box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);
}

footer a:nth-child(1) {
	
	margin-left: 40px;
}

footer a:nth-child(2) {
	
	margin-right: 40px;
}

footer a {
    text-decoration: none;
    color: #111;
}

footer a:hover {
	color: aqua;
}

/* page panier */

#products-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px;
}

#products-header {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    border-bottom: 3px solid aqua;
    color: aqua;
}

.product-title {
    width: 45%;
}

.price {
    width: 9%;
    display: flex;
    justify-content: flex-end;
}

.quantity {
    width: 27%;
    display: flex;
    justify-content: flex-end;
}

.total {
    width: 35%;
    justify-content: flex-end;
    display: flex;
   
}

.content-panier p {
    margin: 0;
    width: 200px;
    text-align: justify;
}

#products {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #baf2f2;
}

#products .img-panier {
    width: 140px;
}

#products .content-panier span {
    width: 64%;
    align-content: flex-end;
    display: flex;
    justify-content: flex-end;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 1px aqua;
}

.title-panier {
    width: 23%;
    display: flex;
    justify-content: center;
}

.total-panier {
    display: flex;
    justify-content: flex-end;
    width: 14%;
}

#totale-panier {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    color: #baf2f2;
}

.remove {
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #baf2f2;
}

/*  page confirmation   */

.confirmation {
    color: #baf2f2;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation > div {
    padding: 20px 10px;
}

.merci {
    font-size: 2rem;
    border-bottom: solid 2px #baf2f2;
    padding-bottom: 5px !important;
}

#nb, #price {
    font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
    header > h1  {
        font-size: 18px;
    }

    header  a {
        padding: 0 8px;
    }

    .container-contact {
        padding: 100px 0;
    }

    form {
        width: 80%;
    }

    .remove {
        margin-left: 2px;
    }

    .price {
        width: 17%;
    }

    .quantity {
        width: 17%;
    }

    .title-panier {
        width: 31%;
    }

    .produit {
        width: 40%;
    }

    .total{
        width: 25%;
    }

    #container {
        top: 10%;
    }

    .card.detail {
        margin-top: 123px;
    }

    #container .card {
        padding: 20px 5px;
    }

    #container .card .imgbox {
        left: 15px;
    }
}

